<article class= "dream">
  <i class="fas fa-user-secret hidden"></i>
  <p class= "dream-title">
    {{dream_title}}
  </p>
  <div class= "dream-content">
    <p class= "dream-text">
      {{dream_text}}
    </p>
    <p>~~~</p>
    <p class= "dreamer">
      {{dreamer}}
    </p>
  </div>
</article>
