<header>
  <img class= "title-cloud" src="Pictures/TitleCloud.png"/>
  <h1 class= "title">Dream Journal</h1>


  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
      </li><li class="navitem navlink active"><a href="#">Public Dream Space</a></li>
      <li class="navitem navlink"><a href="/personalPage">Private Dreams</a></li>
    </ul>
  </nav>
</header>
