html{
  background-color: #BFDAF5;
  color: #2E2E2E;
  font-family: 'Varela Round', sans-serif;
}

a{
  text-decoration: none;

}

.title-cloud{
  width: 340px;
  margin-left: 35%;
}

.title{
  margin-top: -145px;
  margin-left: 40%;
}

.navbar{
  background-color: RGB(176, 196, 222, .5);
  display: inline-block;
  position: fixed;
  margin-top: -145px;
  height: 100%;
  width: 180px;
}

.navlist{
  margin-top: 50%;
  padding: 20px;
}

.navitem{
  display: inline-block;
  margin: 40px;
  margin-left: -10px;
}

.dream-container{
  margin-top: -100px;
  margin: 20%;
}
