html{
  background-color: #BFDAF5;
  color: #2E2E2E;
  font-family: 'Varela Round', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  text-shadow: grey 1px 1px 10px;
}


.title-cloud{
  width: 340px;
  margin-left: 35%;
}

.title{
  margin-top: -145px;
  margin-left: 43%;
}

.navbar{
  background-color: RGB(176, 196, 222, .5);
  display: inline-block;
  position: fixed;
  margin-top: -145px;
  height: 100%;
  width: 180px;
}

.navlist{
  margin-top: 50%;
  padding: 20px;
}

.navitem{
  display: inline-block;
  margin: 40px;
  margin-left: -10px;
}

#create-dream-modal{
  background-color: white;
  border: 1px grey solid;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  margin-left: 600px;
}

.dream-container{
  display: flex;
  position: relative;
  margin-top: 50px;
}

.dream{
  display: inline-flex;
  align-items: center;
  position: relative;
  left: 30%;
  background-color: white;
  border: 1px grey solid;
  border-radius: 20px;
  margin: 50px;
  padding: 10px;
  max-width: 300px;
  max-height: 700px;
}

.dreamer{
  position: relative;
  left: 40px;
  top: -35px;
}
